/*GLOBALS*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/*GLOBALS END*/

/*NAVBAR*/

.simcont{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.center-nav a{
  margin: 0px 20px;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(11, 12, 12, var(--tw-text-opacity));
  text-decoration: none;
}

.nav-action{
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(0, 170, 173, var(--tw-text-opacity));
}

/*NAVBAR END*/

/*HERO*/

.hero{
  min-height: 90vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.cta-text{
  width: 40%;
}

.illustration{
  min-height: 70vh;
  padding: 0.5rem;
  width: 60%;
}

/*HERO END*/

