/*GLOBALS*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

.simcont{
  padding-left: 4rem;
  padding-right: 4rem;
}

.plain-btn{
  border-radius: 0.25rem;
  border-width: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.primary-btn{
  --tw-bg-opacity: 1;
  background-color: rgba(23, 86, 86, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

/*FORM INPUT GROUP*/

.input-group input[type="text"], .input-group input[type="email"], .input-group input[type="number"], .input-group input[type="password"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 0.75rem;
}

.input-group input[type="text"],
 .input-group input[type="email"],
  .input-group input[type="number"],
   .input-group input[type="password"] {
  color: white;
  background:
        linear-gradient(90deg,#ffffff ,#ffffff) center bottom/100% 2px no-repeat ,
        linear-gradient(90deg,#111111 ,#111111) left bottom/0 2px no-repeat,
        linear-gradient(90deg,#ffffff ,#ffffff) left bottom/0 no-repeat;
  transition: background-size .3s ease;
  padding: 12px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: none;
  outline: none;
}

.input-group input:focus  {
  color: black;
  background-size: 100% 2px ,100% 2px , 100%;
}

.input-group select{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 12px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 3px #F3F4F6cc solid;
  outline: none;
}

.input-group label{
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.input-group textarea{
  margin-top: 0.75rem;
  border-radius: 3px;
  padding: 12px;
}

.input-group input[type="file"]{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 12px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 3px #F3F4F6cc solid;
  outline: none;
}

/*FORM INPUT GROUP END*/

/*GLOBALS END*/

/*NAVBAR*/

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 20px;
}

.center-nav a{
  margin: 0px 20px;
  font-weight: 700;
  color: #0B0C0C9f;
  text-decoration: none;
}

.nav-action{
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(0, 170, 173, var(--tw-text-opacity));
}

.nav-action a{
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(0, 170, 173, var(--tw-text-opacity));
  text-decoration: none;
}

/*NAVBAR END*/

/*HERO*/

.hero{
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cta-text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 3.5rem;
  width: 40%;
  height: 80%
}

.main-text{
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(253, 120, 52, var(--tw-text-opacity));
  line-height: 1.2;
}

.support-text{
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #0B0C0C9f;
}

.cta-btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding-right: 3.5rem;
}

.cta-btns button{
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.illustration{
  min-height: 70vh;
  margin-top: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 60%;
}

/*HERO END*/

/*FEATURES*/

.features{
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgba(235, 253, 252, var(--tw-bg-opacity));
  display: flex;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.feature-word{
  display: flex;
  flex-direction: column;
  padding-right: 3.5rem;
  width: 33.333333%;
}

.feature-word h1{
  --tw-text-opacity: 1;
  color: rgba(15, 52, 52, var(--tw-text-opacity));
  line-height: 1.5;
}

.feature-word p{
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 2.5rem;
  color: #0F3434bf;
}

.features-list{
  display: flex;
  flex-wrap: wrap;
  width: 66.666667%;
}

.feature-card{
  padding: 1rem;
  width: 33.333333%;
}

.feature-card img{
  height: 5rem;
  fill: #1a202c;
}

.feature-card-text h1{
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(15, 52, 52, var(--tw-text-opacity));
}

.feature-card-text p{
  font-size: 0.75rem;
  line-height: 1rem;
  color: #0B0C0C9f;
}

/*FEATURES END*/

/*HOW IT WORKS*/

.how-it-works{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.how-it-works > h1{
  --tw-text-opacity: 1;
  color: rgba(0, 170, 173, var(--tw-text-opacity));
}

.how-to-steps{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.how-to-step{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 80%;
}

.how-to-step-icon{
  height: 7rem;
  width: 33.333333%;
}

.how-to-step-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66.666667%;
}

.how-to-step-description > h1{
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgba(23, 86, 86, var(--tw-text-opacity));
}

.how-to-step-description p{
  margin-top: 0.5rem;
  color: #0B0C0C9f;
}

.btn-free-tour{
  --tw-bg-opacity: 1;
  background-color: rgba(0, 170, 173, var(--tw-bg-opacity));
  border-radius: 9999px;
  border-width: 0px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 3.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

/*HOW IT WORKS END*/

/*GET STARTED WITH US*/

.get-started{
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgba(235, 253, 252, var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.get-started h1{
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(15, 52, 52, var(--tw-text-opacity));
}

.get-started-tagline{
  margin-top: 1rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(15, 52, 52, var(--tw-text-opacity));
}

.get-started .dashboard-mockup{
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 96% 96%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 80%;
}

/*GET STARTED WITH US END*/

/*MOBILE APP SECTION*/

.mobile-app{
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.mobile-app .mobile-app-mockup{
  height: 80vh;
  display: flex;
  justify-content: center;
  width: 40%;
}

.mobile-app .mobile-app-mockup img{
  height: 100%;
}

.mobile-app .mobile-app-info{
  height: 60vh;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.mobile-app .mobile-app-info .mobile-app-info-lead{
  display: flex;
  align-items: center;
  height: 50%;
}

.mobile-app .mobile-app-info .mobile-app-info-lead h1{
  font-size: 3rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgba(15, 52, 52, var(--tw-text-opacity));
}

.mobile-app .mobile-app-info .mobile-app-info-download{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.mobile-app .mobile-app-info .mobile-app-info-download h2{
  font-size: 1.875rem;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: rgba(15, 52, 52, var(--tw-text-opacity));
}

.mobile-app .mobile-app-info .mobile-app-info-download .download-providers{
  display: flex;
  align-items: center;
}

.mobile-app .mobile-app-info .mobile-app-info-download .download-providers img{
  width: 240px;
}

/*MOBILE APP SECTION END*/

/*PICK YOUR PACKAGE*/

.pick-your-package{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.pick-your-package > h1{
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(15, 52, 52, var(--tw-text-opacity));
}

.pick-your-package > p{
  margin-top: 1rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(15, 52, 52, var(--tw-text-opacity));
}

.pick-your-package .packages{
  min-height: 60vh;
  width: 50vw;
  --tw-border-opacity: 1;
  border-color: rgba(253, 120, 52, var(--tw-border-opacity));
  border-width: 1px;
  display: flex;
  margin-top: 3.5rem;
}

.pick-your-package .packages .package{
  width: 33.333333%;
}

.package .pack-title{
  --tw-text-opacity: 1;
  color: rgba(15, 52, 52, var(--tw-text-opacity));
}

.package .pack-features{
  margin-top: 1rem;
}

.package .pack-features .pack-feature{
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.package .pack-features .pack-feature img{
  height: 1rem;
}

.package .pack-features .pack-feature p{
  display: inline;
  margin-left: 0.5rem;
}

/*PICK YOUR PACKAGE END*/

/*CONTACT FORM*/

.contact-form{
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgba(15, 52, 52, var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.contact-form h1{
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.contact-form form button{
  border-radius: 0.5rem;
  border-width: 0px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 3.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  --tw-text-opacity: 1;
  color: rgba(15, 52, 52, var(--tw-text-opacity));
}

.contact-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.contact-form form .input-group{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}

/*CONTACT FORM END*/

/*FOOTER*/

.footer{
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 11rem;
  padding-right: 11rem;
}

.footer-item {
  display: flex;
  margin-bottom: 1rem;
}

.footer-right-side .footer-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-item img{
  height: 2.5rem;
  margin-right: 0.5rem;
}

.footer-left-side, .footer-middle, .footer-left-side {
  width: 33.333333%;
}

/*FOOTER END*/

